<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <header>
        Travel Planner
    </header>
    <main>
        <section>My Trips</section>
        <section class="trip-section">
            <div class="trip-img">img</div>
            <div class="trip-data">
                <div class="trip-title">title</div>
                <div class="trip-buttons">buttons</div>
                <div class="trip-timer">timer</div>
                <div class="trip-weather">weather</div>
            </div>




        </section>
    </main>
    <footer>footer</footer>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(registration => {
                        console.log('Service Worker registered:', registration);
                    })
                    .catch(error => {
                        console.log('Service Worker registration failed:', error);
                    });
            });
        }
    </script>
</body>

</html>