<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
</head>

<body>
    <header>
        Travel Planner
    </header>
    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <div class="trip-destination">
                    <p>Destination: </p><input id="destination-input" type="text" name="input" value="stuttgart"
                        placeholder="your destination" class="hover-effect">
                </div>
                <div class="trip-from">
                    <p>From:</p>
                    <input type="date" id="from-date-input" class="hover-effect">
                </div>
                <div class="trip-to">
                    <p>To:</p><input type="date" id="to-date-input" class="hover-effect">
                </div>
                <input class="trip-button hover-effect" type="submit" name="" value="Plan the travel"
                    onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>
        <div id="tripSectionContainer" class="trip-section-container"></div>
    </main>
    <div class="margin-container"></div>
    <footer>© 2023 Biltech. All rights reserved.</footer>
    <!-- <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(registration => {
                        console.log('Service Worker registered:', registration);
                    })
                    .catch(error => {
                        console.log('Service Worker registration failed:', error);
                    });
            });
        }
    </script> -->
</body>

</html>