.trip-section{
    display: flex;
    flex-direction: row;
    
    padding: 12px;
}

.trip-data{
    display: flex;
    flex-direction: column;

    padding: 12px;
}

.trip-img{
    padding: 12px;
}

img{
    height: 160px;
}