.trip-section{
    display: flex;
    flex-direction: row;    
    padding: 12px;
}

.trip-data{
    display: flex;
    flex-direction: column;

    padding: 12px;
}

.trip-img{
    padding: 12px;
}

img{
    height: 320px;
}


@media (max-width: 750px) {
    .trip-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }

    img{
        height: 160px;
    }
}